<app-header></app-header>
<div class="container">
    <h2>Orders</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>payment_id</th>
                <th>card-number</th>
                <th>Expiry</th>
                <th>CVV</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of employees">
                <td>{{ payment.id }}</td>
                <td>{{ payment.cardNumber }}</td>
                <td>{{ payment.expiry }}</td>
                <td>{{ payment.cvv }}</td>
                

                
            </tr>
        </tbody>
    </table>
</div>